<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://127.0.0.1:3306/example_db?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="hbm2ddl.auto">update</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">false</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <mapping class="com.fayardev.membershipsystem.entities.User"/>
        <mapping class="com.fayardev.membershipsystem.entities.Profile"/>

    </session-factory>

</hibernate-configuration>